@keyframes lookingGlassAnim {
    0%   { transform: translateX(-40%) translateY(-10%);  }
    25%  { transform: translateX(0) translateY(55%); }
    75%  { transform: translateX(40%) translateY(10%); }
    100% { transform: translateX(-40%) translateY(-10%); }
}

.error-icon {
    font-size: 6rem;
}

.looking-glass-anim {
    animation-name: lookingGlassAnim;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
